[2016-03-04 22:30] deontologician opened #1 "Document horizon constructor arguments"
Right now it's in `client/src/index.js`:
- `host`: hostname of horizon server (defaults to `window.location`)
- `secure`: whether the server should use secure websockets (defaults to true)
- `path`: the reserved namespace path for horizon (defaults to `"horizon"`)
- `lazyWrites`: whether to emit write operations lazily or immediately (defaults to `false`)
- `authType`:  What kind of authentication

[2016-04-20 20:20] dalanmiller opened #2 "Directory tree image"
https://github.com/rethinkdb/horizon-docs/blob/master/images/hz-dirs.png

`.hzconfig` is now stored in `.hz/config.toml`
`.hz` will also later store config for a certain other project related to horizon and similarly named.

[2016-04-20 20:37] #2 closed, assigned to nobody

[2016-05-11 18:06] danielmewes opened #3 "Auth docs don't explain how to make use of the session / user information"
https://github.com/rethinkdb/horizon-docs/blob/master/authentication.md doesn't explain how I can access the current user's session ID or user name.

@deontologician How do I access that information in the current API?

[2016-05-11 18:10] danielmewes opened #5 "Document permissions system"

[2016-05-11 18:11] danielmewes opened #6 "Write Tutorial"
We currently have a quick start document https://github.com/rethinkdb/horizon-docs/blob/master/quickstart.md , but no real tutorial yet ( https://github.com/rethinkdb/horizon-docs/blob/master/tutorial/1-start.md )

[2016-05-11 18:11] danielmewes opened #7 "Complete Horizon API docs"
https://github.com/rethinkdb/horizon-docs/blob/master/api/horizon.md is still full of stubs.

[2016-05-11 18:12] danielmewes opened #8 "Proof-read documentation before release"
Some of the examples and APIs might need to be updated.

[2016-05-11 18:55] danielmewes opened #9 "`Collection` API docs still suggest integer primary keys are special"
For example here:

[code]

As far as I know, the shorthand works for any type of primary key. It is distinguished from the long syntax by the fact that you're not passing an object/dictionary to `above`.

[2016-05-11 19:44] #9 closed, assigned to nobody

[2016-05-11 23:10] deontologician opened #11 "Carefully check all uses of forEach in examples, it's no longer a synonym of .subscribe"
Any calls that look like this:

[code]

Should be changed to use `.subscribe()` like:

[code]

Now `.forEach()` should only take one function, the iteration function. If the example isn't explicitly trying to show error handling, it might make sense to leave the example using `.forEach` and just remove the second two functions.

[2016-05-11 23:38] danielmewes opened #13 "Quick start should mention minimum required Node version"
https://github.com/rethinkdb/horizon-docs/blob/master/quickstart.md and https://github.com/rethinkdb/horizon/blob/next/GETTING-STARTED.md
currently don't state which node version is required for using Horizon.

At least Node 4.4 seems to be fine, but probably we can support from 4.0 up?

Also `npm install -g horizon` should probably be `sudo npm install -g horizon`.

[2016-05-12 01:05] danielmewes opened #15 "Link to RxJS when we talk about Observables"
We should link to the corresponding sections of http://rxjs.codeplex.com/wikipage?title=Observable&referringTitle=Documentation in a few places of our documentation. For example we currently have a description of the `forEach` method in https://github.com/rethinkdb/horizon-docs/blob/master/api/collection.md#collectionforeach-foreach , but don't point out that this is the standard `Observable` `for

[2016-05-12 01:56] #11 closed, assigned to danielmewes

[2016-05-12 21:19] deontologician opened #16 "Ensure docs don't refer to onConnected anywhere"
Anywhere `onConnected` is mentioned, it should be replaced with `onReady`

[2016-05-12 22:27] #16 closed, assigned to danielmewes

[2016-05-13 01:08] #1 closed, assigned to chipotle

[2016-05-13 21:23] danielmewes opened #18 "Write deployment documentation"
https://github.com/rethinkdb/horizon-docs/blob/master/deploy.md is currently a stub

We don't need this for the 1.0 launch, but will need it when we publicly launch Horizon Cloud.

[2016-05-13 21:25] danielmewes opened #19 "Write server documentation"
https://github.com/rethinkdb/horizon-docs/blob/master/server.md is currently a stub.

I think it needs to contain information on server behavior (e.g. which network ports it provides) command line arguments, and the configuration file.

[2016-05-13 21:27] danielmewes opened #20 "Write user management documentation"
https://github.com/rethinkdb/horizon-docs/blob/master/users.md is currently a stub.

It should explain the `users` pseudo table (when it gets implemented in https://github.com/rethinkdb/horizon/issues/3 ), as well as group management.

It can link to the separate authentication and permission documents, so it doesn't need to cover those parts.

Related to https://github.com/rethinkdb/horizon-docs/

[2016-05-13 21:28] #7 closed, assigned to nobody

[2016-05-15 04:27] danielmewes opened #24 "Add docs page for contributors"
... with information on where to go, links to resources etc.

[2016-05-15 04:27] #19 closed, assigned to danielmewes

[2016-05-15 04:27] #5 closed, assigned to danielmewes

[2016-05-15 04:28] danielmewes opened #25 "Document the `context` object in permissions.md"
That section isn't there yet, because the contents of the object were still unclear.

[2016-05-15 20:36] dalanmiller opened #30 "Multi-line ES6 template string not highlighting correctly"
<img width="631" alt="screenshot 2016-05-15 15 35 37" src="https://cloud.githubusercontent.com/assets/863286/15276615/bc382568-1ab2-11e6-84fa-b3259862342a.png">

http://localhost:4000/docs-archive/readme

[2016-05-15 21:48] deontologician opened #31 "Broken markdown links"
In the Collection.fetch() section, there's a broken link to `subscribe`

[code]

[2016-05-15 21:51] deontologician opened #32 "subscribe isn't part of the Collection class, it's a method on Observables"
Right now the docs indicate it's our method. We may want to link to the rxjs docs instead of documenting it directly. Alternately, if we do document it, to avoid people having to go to another site to learn how to use it (which is reasonable), we should rename:
- `readFunction(result)`: a callback that receives a single document as the Collection is iterated through
- `errorFunction(error)`: a cal

[2016-05-15 22:00] deontologician opened #33 "Horizon server readme/docs shouldn't mention npm dependencies"
I think we should only mention openssl, rethinkdb, and node.js since those aren't handled by the package.json and the user needs to install them

[2016-05-16 20:48] #32 closed, assigned to chipotle

[2016-05-16 20:52] #13 closed, assigned to chipotle

[2016-05-16 21:42] #31 closed, assigned to nobody

[2016-05-16 22:06] chipotle opened #39 "Integrations needs to be written"
There is a link to `/docs/integrations` but no `integrations.md` file. Someone who knows what projects Horizon is already integrated with needs to come up with a bulleted list for this.

[2016-05-17 00:36] #25 closed, assigned to nobody

[2016-05-17 00:36] #20 closed, assigned to chipotle

[2016-05-17 10:12] danielmewes opened #45 "Document `hz make-token` and how to boot-strap a user"
the `hz make-token` command is going to be added via https://github.com/rethinkdb/horizon/pull/390

[2016-05-17 20:13] chipotle commented on #18
I'm going to need a bit of guidance on a few bits of this:

* prerequisites for production mode rather than dev mode (i.e., start RethinkDB server separately, etc.)
* how to use `hz make-token` to get the admin user admin-ing
* basic advice about self-hosted deployment (i.e., is `hz serve` production ready or should they run a "real" web server and proxy to it, other general node stuff)
* anything

[2016-05-18 01:25] danielmewes opened #49 "Getting started document doesn't give enough structure"
Opened by @danielcompton in https://github.com/rethinkdb/horizon/issues/402 :

--

The [getting started](http://horizon.io/docs/getting-started/) document has a lot of good information, but doesn't tie all of the information together into an application. For example:

* In the "putting it all together" section, it doesn't say where the JS file should be saved.
* `renderChats` is mentioned once in

[2016-05-18 01:26] danielmewes commented on #49
Useful feedback @danielcompton. I think the intention was to leave the rendering part to the example applications. We should make the connection clearer and also add the other missing pieces you mention.

[2016-05-18 01:33] danielcompton commented on #49
I wonder if a simple JQuery implementation similar to Socket.io's [chat application example](http://socket.io/get-started/chat/) would be a good starting point here before digging into the deeper example applications just to finish off what's shown there?

[2016-05-18 01:38] danielmewes opened #50 "Document write conflict resolution"
jlu on Hacker News asked:

I know that we use versions internally to detect concurrent modifications between reading a document and a call to `replace`.

I'm not sure if this also applies to `upsert`. I'm also not sure what error we emit on the write operation if there is a conflict.
@Tryneus can you clarify?

We need to document this and provide some guidance for how to deal with conflicts. I'm n

[2016-05-18 02:17] Tryneus commented on #50
Because validators are run on the horizon server, and not on the database, if two clients attempt to write to the same row at the same time, one will have a conflict and fail.  This applies to almost all combinations of writes between the two clients - the only case I can think of off the top of my head that wouldn't error is if both clients are attempting to remove the document.

There is no reas

[2016-05-18 02:57] danielmewes commented on #50
Thanks @Tryneus .

I thought we were pushing the version through to the client to catch cases like
* client A fetches a document
* client A modifies it locally, while
* client B changes the document through a separate write
* client A writes back the modified document through `replace`

I thought the last step would fail because the versions don't match, but I guess we didn't end up actually imple

[2016-05-18 03:00] Tryneus commented on #50
@danielmewes, you're right, that is still possible to do, actually - although you have to do it explicitly in the client using the new version values you receive from your write responses.

If a client explicitly specifies the version that they want to modify, we use that version when performing checks rather than the version from the initial fetch for the validator.

[2016-05-18 03:10] danielmewes commented on #50
Oh cool, but how do I specify the version to a write? Do I just place the version field that I get from a write response into the document for the next write?

Is there a way for getting the current version of a document through a read, without writing to it first?

[2016-05-18 03:56] Tryneus commented on #50
There isn't a current way to get the version of the document through a read as far as I know.  The server does send this information to the client, but the version field is filtered out by the client at the moment to avoid users accidentally performing stricter writes that may cause problems at high loads (two clients performing strict writes repeatedly will always favor the client with the lowest

[2016-05-18 03:57] Tryneus commented on #50
And yes, if you want to perform a write that will only apply to a certain version, you just include the `$hz_v$` version field in the document to be written.

[2016-05-18 05:31] coodoo commented on #50
`jlu` on hackernews, just chiming in to say thanks for tracking this issue, good job!

[2016-05-18 19:56] chipotle commented on #33
This isn't actually on the site now (at least, not linked from the sidebar).

[2016-05-18 19:56] #33 closed

[2016-05-18 19:58] chipotle commented on #15
The `Collection` documentation links to RxJS now, both when talking about `fetch` and `subscribe` (and we no longer talk about `forEach` directly).

[2016-05-18 19:58] #15 closed

[2016-05-18 23:43] danielmewes commented on #18
_prerequisites for production mode_

* Starting your own RethinkDB server, or setting the `start-rethinkdb` option explicitly
* An SSL key/certificate pair (unless you want to run with `secure=false`)
* A schema file that includes all collections, indexes and permissions, which you can install through `hz set-schema`
* In fact you need to run `hz set-schema` once *before* you start the Horizon ser

[2016-05-19 00:15] deontologician commented on #18
We need to provide a better interface in the client for using a token to authenticate. Right now we can use the utensils thing (which is really a non-official api), but it would be nice if users could create a horizon client instance and specify the token they want to use, without forcing the client to talk to localStorage. I'll open an issue for this

[2016-05-19 14:48] dalanmiller opened #55 "Make horizon-docs independently buildable"
Need `jekyll build` so I can enable this repo to be autodeployed for PRs.

[2016-05-19 15:35] deontologician opened #56 "fetch docs probably shouldn't mention forEach"
Technically, you can call forEach on fetch, but it's not very useful since there will only ever be a single item (an array, or in the case of a `.find` query, an object). We should probably just remove mention of forEach from fetch. It's more useful for `.watch` where you'll actually get multiple items on the observable

[2016-05-19 15:39] deontologician opened #57 "horizon client getting started guide"
Migrated from rethinkdb/horizon#433 by @hnordt

In http://horizon.io/docs/getting-started/ the docs say:

[code]

`In your application, you’ll need to include the Horizon client file, and specify the Horizon port number when initializing the connection.` shouldn't be `In your application, you’ll need to import the Horizon client file, and specify the Horizon port number when initializing the conne

[2016-05-19 21:42] chipotle commented on #57
I think it might be better to reword this just a bit so we have two examples, one with Webpack and one without.

[2016-05-19 22:23] hnordt opened #59 "Users and groups"
In http://horizon.io/docs/users/:

[code]

[2016-05-19 23:04] danielmewes commented on #59
You're right, it should be `replace`. Thanks for reporting this.

[2016-05-19 23:05] danielmewes commented on #59
Changed in PR https://github.com/rethinkdb/horizon-docs/pull/60

[2016-05-19 23:36] saidimu commented on #57
@chipotle At this point there is basically no straight-forward way to import `@horizon/client` from Node. Between this issue, rethinkdb/horizon#185, rethinkdb/horizon#263, rethinkdb/horizon#420 and possibly many more, it seems Node.js isn't a common enough use-case (or not part of the design considerations)?

[2016-05-19 23:37] #59 closed

[2016-05-19 23:54] danielmewes commented on #57
@saidimu This functionality fell under the cracks for the initial Horizon 1.0.0 release, but we definitely want to make this possible (and easy) asap. The next version shouldn't take too long.

[2016-05-20 02:17] danielmewes opened #61 "`defaultIfEmpty` example for `find`"
This came up in https://github.com/rethinkdb/horizon/issues/451.

If you do a `collection.find(id).fetch().subscribe(...)` and no matching document exists, neither an error nor any result will be generated.

Since this might be a common use case, we should add an example that uses `defaultIfEmpty` to handle missing rows. Something like this:
[code]

See details at http://reactivex.io/rxjs/class/es

[2016-05-20 20:17] danielmewes opened #62 "Document how to extend a Horizon backend"
Copying this comment from @sunjay https://github.com/rethinkdb/horizon/issues/466 here:

[2016-05-20 20:18] danielmewes commented on #62
@Tryneus once things get a bit calmer, could you describe the basics of how to extend the Horizon server to perform tasks like this?

[2016-05-20 21:14] hnordt commented on #56
Another problem I see with forEach is that you can't unsubscribe as discussed in https://github.com/rethinkdb/horizon/issues/457

[2016-05-20 21:27] deontologician opened #63 "Permissions expansion"
Right now the permissions document is a good outline, but it should probably mention some practical things like
- query template rules are faster than javascript validator functions. Try to use them wherever possible
- query template rules can be combined with js validators, do this to have a "first pass" to rule out classes of validators so they don't have to run on every incoming query.

[2016-05-20 21:32] deontologician opened #64 "Permissions cookbook page`"
Since the permissions system is very wide open and flexible, it makes sense to have a permissions cookbook page that shows you how to implement common types of rules, like:

- giving an admin user permission to do any operation,
- creating a group to administrate another group
- giving a user ownership of a group (power to create and destroy it)

[2016-05-23 17:51] #56 closed

[2016-05-23 17:51] #3 closed

[2016-05-23 22:34] #61 closed

[2016-05-26 22:04] dalanmiller opened #70 "Configuration precedence isn't mentioned anywhere"
People might be confused when they set config in the `.toml` file but then also set `--dev` which then override those things.

config file  > environment variables > flags

https://github.com/rethinkdb/horizon/blob/next/cli/src/serve.js#L478-L482

[2016-05-26 22:15] deontologician opened #71 "Schema toml format doesn't describe how to specify indexes"
If you create a horizon app using `--auto-create-collection` and `--auto-create-indexes`, and then do `hz get-schema` on it, you will get stuff that looks like:

[code]

These index names have a particular format that tells horizon how to create the index when it's passed back to `set-schema`, but this isn't documented anywhere. We should document it so people are able to specify their indexes wit

[2016-05-27 10:39] SenerDemiral commented on #71
Still
**Uncaught Error: Collection "react_messages" has no index matching ["datetime"]**

Example react-chat-app
Steps to produce

$ rethinkdb
$ cd reactChat
$ hz set-schema schema.toml

$ hz get-schema
[code]
$ hz serve --permissions no

**Browse localhost:8181**
	Console message
	Uncaught Error: Collection "react_messages" has no index matching ["datetime"]

**RethinkDB Administration Console**

[2016-05-27 18:07] danielmewes commented on #71
@SenerDemiral This is an issue about documentation. There is a different tracker for issues with Horizon itself. I moved your comment over to there: https://github.com/rethinkdb/horizon/issues/533

[2016-05-31 15:17] deontologician opened #72 "Incorrect mention of user/password in authentication docs"
In the short summary at the top of the documentation for authentication, for Anonymous auth the sentence "Your application will need to prompt for username and password." is incorrect.

That sentence should probably just be removed, it's correct otherwise.

[2016-06-01 12:55] tslocke commented on #72
On the same docs page, a little further down under the "Using local authentication" heading, it also says

which lead me to believe this was a way to implement typical username+password auth. With a little further reading that appears not to be the case, as the "account" is forever constrained to the browser first used.

Would suggest taking this out too.

[2016-06-01 15:08] chipotle commented on #72
Okay, I think maybe I should get a "use case" summary from the developers explaining when someone would want to use anonymous authentication and when someone would want to use local authentication. I thought I'd understood this from previous conversations, but clearly I did not.

[2016-06-01 20:06] chipotle commented on #49
@dalanmiller -- I've made you a co-assignee because the "Putting it all together" code is mostly yours, and you'll probably have better ideas on where to go with this.

[2016-06-01 20:44] chipotle commented on #45
@deontologician - if it's possible to write up a paragraph or so about how to use this, it'd be really helpful. (cc @Tryneus)

[2016-06-01 22:36] deontologician commented on #45
Hmm, this is actually kinda crappy at the moment. I'm not sure we should document this until rethinkdb/horizon#429 is completed, since otherwise you need to use an internal api I'd rather not suggest in the docs.

I'm going to open another issue in the horizon repo to get some input on how exactly we should get this flow to work, since it's not obvious

[2016-06-03 22:39] deontologician opened #73 "Add list of Observable methods available"
We currently patch in the following Observable static methods:

- Observable.empty()
- Observable.of()
- Observable.from()
- Observable.merge()
- Observable.fromPromise()

And these operators (instance methods):
- observable.publishReplay()
- observable.scan()
- observable.filter()
- observable.map()
- observable.toArray()
- observable.do()
- observable.catch()
- observable.concatMap()
- observabl

[2016-06-04 03:29] deontologician commented on #45
Ok, so now we have rethinkdb/horizon#429 published, so it's ok to talk about it.

Basic process:
1. With your admin user, do a `horizon('users').store({ id: <SOME_USER_ID> })`
2. Now, go to the command line, use `hz make-token <SOME_USER_ID>` possibly passing connect options to make-token
3. Copy the token that is printed out on the commandline
4. Pass that token to your next creation of a Horizon

[2016-06-06 19:07] danielmewes commented on #45
We'll need to explain that step too (it works as Josh described, just without step 1 and with `admin` instead of `<SOME_USER_ID>` in step 2 as far as I know).

[2016-06-06 19:54] deontologician commented on #45
Having to document this is really pointing out how terrible this process is

[2016-06-09 23:56] chipotle commented on #72
Pinging @deontologician and @dalanmiller re: the use case summary.

[2016-06-10 00:05] mglukhovsky opened #74 "Current limitations document"
We should add a document outlining some current limitations in the server, and certain operations (as well as temporary workarounds as features get added). For example:

  - Reconnection logic
  - Pagination
  - User / password authentication
  - GraphQL support

Other suggestions are welcome.

[2016-06-10 00:09] mglukhovsky opened #75 "Incorrect `auto_create_table` option in "Configuring Horizon""
As seen in rethinkdb/horizon#442, the `auto_create_table` option is actually `auto_create_collection`.

This should be updated in [Configuring Horizon](http://horizon.io/docs/configuration/). We should verify other [Horizon server options](https://github.com/rethinkdb/horizon/blob/061f784fa6f8cd6b30ffcaf6b88e823e0e386b3f/server/src/schema/server_options.js).

[2016-06-10 00:13] deontologician commented on #72
This is for creating a user just for a particular browser. I don't know that there's a particular use case, but it's inaccurate to say you should combine it with password auth, since you can't do that. @Tryneus might have a use case in mind (maybe)

[2016-06-10 00:17] danielmewes commented on #75
I just opened a PR for this https://github.com/rethinkdb/horizon-docs/pull/76

I believe the other options are up-to-date.

[2016-06-10 00:18] chipotle commented on #75
Fixed in the now-merged #76

[2016-06-10 00:18] #75 closed

[2016-06-10 00:25] danielmewes opened #77 "Describe how to run Horizon server without the `hz` CLI"
We have [examples](https://github.com/rethinkdb/horizon/blob/next/examples/express-server/main.js) for running a Horizon server by instantiating the [`Server` class](https://github.com/rethinkdb/horizon/blob/061f784fa6f8cd6b30ffcaf6b88e823e0e386b3f/server/src/server.js#L60) in node.js (without using the `hz serve` CLI), but we don't have any formal documentation of this.

http://horizon.io/docs/se

[2016-06-10 00:29] danielmewes commented on #77
It also looks like this technique always requires setting up your own HTTP server first. I'm not sure what the requirements on the `http_servers` argument actually are.

@Tryneus Could you add some details about this please?

[2016-06-10 06:07] mlucy commented on #74
* Lack of automatic retrying for writes that might have version conflicts.
* Lack of atomic operations (even single-document ones).

[2016-06-10 16:17] danielmewes commented on #74
* User records for "anonymous" users don't expire yet (though the users' JWT tokens do) and need to be removed from the `users` collection manually.
* While schema enforcement can be done through query templates and validator functions, there is no support for a declarative schema specification in the style of something like JSON Schema yet.

[2016-06-10 17:31] #70 closed

[2016-06-10 17:34] mglukhovsky commented on #74
- Browsers and environment versions supported by the Horizon client

[2016-06-10 18:33] danielmewes commented on #77
A related question came up on the horizon issue tracker about how to run the Horizon server within Express: https://github.com/rethinkdb/horizon/issues/425#issuecomment-222888180

[2016-06-10 23:41] mglukhovsky opened #78 "Horizon API: constructor now accepts a JWT token"
The Horizon object now accepts a JWT token, which makes it easier to integrate with non-browser-based authentication methods in environments like React Native.

You can also use a token from `hz make-token` and provide it directly to the Horizon object.

[2016-06-11 00:14] #57 closed

[2016-06-11 02:50] deontologician commented on #78
The format of this is:

[code]
storeLocally is whether to store the token in localStorage or not (default true). If you set storeLocally to false, you'll need to re-authenticate every time you create a Horizon object.

[2016-06-11 09:32] rnenjoy opened #79 "RemoveAll example not working"
Hello,

Maybe im doing this the wrong way, but i tried the example:

[code]

I couldn't get this working since removeAll expects an object, and messageList seems to be just a snapshot? This is how I made it, but then again, i'm a n00b:

[code]

[2016-06-11 16:36] deontologician commented on #79
Your second example is right. Alternately, if you want to check the responses of the removeAll:

[code]

[2016-06-13 18:19] danielmewes commented on #79
@deontologician Would it fix the example at http://horizon.io/api/collection/#removeall to add a `.toArray()` here?
[code]

[2016-06-13 22:41] deontologician commented on #79
No, `.toArray()` still returns an observable, instead of getting `[{id:1}, ...]` you'd get `[[{id:1}, ...]]` since it's already emitting an array. In this case there's no way around a callback like @rnenjoy does with .subscribe, or by chaining operations like in my example. It's fundamentally an asynchronous operation, and the example is written in a style that requires the results to be available

[2016-06-13 22:48] danielmewes commented on #77
One non-obvious aspect of this is configuring OAuth providers. You can't pass the provider options directly into the `Server` constructor, but need to call a separate `add_auth_endpoint` method on the server.

Here's some example code:
[code]

[2016-06-13 22:51] danielmewes commented on #79
Ah right, makes sense. So what you wrote here https://github.com/rethinkdb/horizon-docs/issues/79#issuecomment-225373482 is probably what we should put into the docs?

[2016-06-13 22:56] deontologician commented on #79
Yeah, it's effectively the same as @rnenjoy's example, but is more general since it shows how to get the removed ids back out

[2016-06-13 23:29] #72 closed

[2016-06-14 01:17] deontologician opened #80 "Added .take to Observable methods"
This came in in the most recent version http://reactivex.io/rxjs/class/es6/Observable.js~Observable.html#instance-method-take

[2016-06-14 01:22] danielmewes commented on #80
Where in the docs would this go? Do we even have a list of Observable methods at the moment?

[2016-06-14 01:27] deontologician opened #81 "It's now possible to get the handshake value from the horizon object"
We have a subobject for every horizon instance called `utensils` (not sure if documented). It now has a new attribute, `handshake` which will get you raw access to the handshake information.

Everything in `.utensils` is considered a low-level api, so we probably should have a special page for it or something, rather than documenting it with everything else. The utensils api is also intended to be

[2016-06-14 01:57] deontologician commented on #80
We do, but I forget where. @chipotle added a section recently

[2016-06-14 02:10] chipotle commented on #80
As in this afternoon. It isn't deployed yet, but it'll be up tomorrow (and we can add in this ticket).

[2016-06-14 17:50] #8 closed

[2016-06-14 21:16] #73 closed

[2016-06-14 21:16] #80 closed

[2016-06-14 21:22] #79 closed

[2016-06-15 19:51] chipotle commented on #74
This is a good idea for a document. @mlucy and @danielmewes are listing actual limitations, but @mglukhovsky is really offering a list of questions that I'll need answers to, though.

* GraphQL support, pagination, local user/password authentication: we don't have any of these, right?
* Browsers supported by the client: do we have a known minimum? Any browser that supports ES5 methods? (React simp

[2016-06-15 20:52] danielmewes commented on #74
We talked about this a little bit yesterday, and it seems that the page really needs to cover two different things. One is "Limitations of current features" and the other is "Features that don't exist yet, but are planned".

Right, those would be "planned features".

I don't think we do, though there are some known issues with Internet Explorer 10 and 11 (see https://github.com/rethinkdb/horizon/i

[2016-06-15 21:44] deontologician commented on #74
I am not sure which browsers should work. We know for certain it doesn't work on mobile safari, and it seems IE 10 based on @danielmewes testing. We have polyfills for the most bleeding edge stuff, but if your browser doesn't support Promises directly, you'll need to add your own polyfill

[2016-06-15 22:11] Tryneus commented on #77
Here's a complete example script showing how to attach a Horizon server to multiple HTTP servers and add an auth endpoint (twitch) at the end.  This assumes that a RethinkDB instance is running on `localhost:28015`, and that it has been initialized with `hz set-schema`.

[code]

[2016-06-15 22:16] danielmewes commented on #77
We should also list the other supported options that can be passed into the server constructor.
The full list is represented here: https://github.com/rethinkdb/horizon/blob/next/server/src/schema/server_options.js

[2016-06-15 22:18] danielmewes commented on #77
@Tryneus What is the meaning of these three options in the `auth` field?
[code]

[2016-06-15 23:23] #45 closed

[2016-06-15 23:23] #74 closed

[2016-06-15 23:23] #77 closed

[2016-06-16 00:06] chipotle commented on #39
`/docs/integrations` has become `/docs/embed`, with directions on how to Embed Horizon into existing frameworks. I think we can retire this issue; we'll open another one once plugins are a real thing and we need _that_ bulleted list.

[2016-06-16 00:06] #39 closed

[2016-06-16 00:08] chipotle commented on #30
This isn't a bug we can address here, since it's in the Jekyll syntax highlighter. Either the highlighter is going to have to be smarter or we're going to have to override its CSS (which isn't a job for the docs repository).

[2016-06-16 00:08] #30 closed

[2016-06-16 00:39] deontologician opened #82 "Added a new `access_control_allow_origin` option in config.toml"
See https://github.com/rethinkdb/horizon/pull/565

It directly sets this http header for statically served files:

https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS#Access-Control-Allow-Origin

Basically, what this does is let you specify which domains should be allowed to initial xhr requests that fetch the `/auth_methods` resource. The basic use case is you serve your javascr

[2016-06-16 00:43] danielmewes commented on #82
Is this also a command-line option for `hz serve` or only accessible through the config file?

[2016-06-16 00:53] deontologician commented on #82
Good catch, yes it's also a command line option

[2016-06-16 18:12] chipotle commented on #81
`utensils` isn't documented, so it sounds like this may belong on the page for `utensils` that isn't there, and that page needs to be linked from the `Horizon` object API page as well as the sidebar.

[2016-06-16 18:34] danielmewes commented on #81
@deontologician Is there a benefit of using the user id from the handshake over getting it from `currentUser` (http://horizon.io/api/horizon/#currentuser)? If the `utensils` object is not part of the official API and everything you can get from it is also available through stable API functions, I'm not sure if we should even document it at all.

[2016-06-16 19:32] #78 closed

[2016-06-16 20:15] mglukhovsky commented on #6
@segphault is working on a basic tutorial that covers permissions and building a basic app.

@segphault: do you think the [Getting started] guide would overlap with the outline for the tutorial you're writing? Could you post the outline you're planning?

[2016-06-16 20:16] chipotle commented on #49
Pinging @dalanmiller again. :) I think you could probably turn the "Putting it all together" code into an actual quick application, although if there's one that already exists in examples that could be put in there, I could edit it in.

[2016-06-16 20:19] chipotle commented on #63
Are there any other bits here you know of that could be thrown in here? Adding those two to the existing document should be pretty quick, but this is a good time to expand the bullet list if other things have come up in practice.

[2016-06-16 20:19] mglukhovsky commented on #55
I'll take care of this -- have to deploy a similar setup to rethinkdb/docs.

[2016-06-16 20:20] dalanmiller commented on #49
I've been summoned! ✨ 🔮 ✨  (apologies for missing the first notification, the Github deluge is strong)

Rather than a giant text blog in the actual document would it help if the final version were in it's own repo?

[2016-06-16 20:22] mglukhovsky commented on #63
@segphault, since you've done a lot of work with permissions recently -- what else would you like to see documented?

[2016-06-16 20:23] danielmewes commented on #63
This comes to mind: https://github.com/rethinkdb/horizon-docs/issues/71
Just pinged @Tryneus for some details on the index names...

[2016-06-16 20:24] chipotle commented on #49
Maybe, but I feel like we need to have _something_ in the actual document that goes in the "Putting it all together" section beyond a link to Github. :)

[2016-06-16 20:34] mglukhovsky commented on #64
Here's an example @segphault mentioned:

[code]

This may look differently if we extend `context` to include additional info, such as a `user` property.

[2016-06-16 21:04] mglukhovsky opened #83 "Basic Docker setup"
We should have an article on using Horizon in a basic Docker setup (@dalanmiller is working on this). Ideally we'd include details on using LetsEncrypt for a basic, production-ready setup with SSL / TLS.

@dalanmiller: could you include an outline and details that should be covered?

[2016-06-16 21:15] mglukhovsky opened #84 "Horizon libraries and tools"
There are a number of Horizon tools that are popping up on GitHub. For example:

- [lovli.js](https://github.com/flipace/lovli.js) -- a boilerplate for developing react+redux applications with rethinkdb/horizo
- [react-horizon](https://github.com/flipace/horizon-react) -- React bindings for rethinkdb/horizon.
- [react-hz](https://github.com/roman01la/react-horizon) -- React Horizon makes it easier

[2016-06-16 21:20] Tryneus commented on #71
The current format is each field in the index, concatenated in order, delimited by underscores.  Undescores and backslashes in field names are escaped with backslashes.

Examples:

index fields | index name
--------------- | -----------------
`[ 'a', 'b', 'c' ]` | `a_b_c`
`[ 'foo_bar', 'baz' ]` | `foo\_bar_baz`
`[ 'x\y' ]` | `x\\y`

There is an open issue to replace the naming scheme with JSON nam

[2016-06-16 21:21] mglukhovsky opened #85 "Example: Horizon and React Native"
We have a lot of users who are experimenting with Horizon and React Native (e.g. rethinkdb/horizon#255 and rethinkdb/horizon#477), and an open issue for building an example app: rethinkdb/horizon#285

We should have an article that introduces the example and describes using Horizon with React Native.

[2016-06-16 22:27] dalanmiller commented on #83
Got a start to this in pull #86

[2016-06-16 23:07] segphault commented on #6
There are some differences in scope between the tutorial that I'm working on and the Getting Started guide. The tutorial will include:

- Building a social bookmark application with these features:
    - Users can add/edit/remove their own bookmarks
    - Users can share bookmarks into a public stream
    - Unauthenticated users can see public bookmarks
- It uses the following Horizon capabilities

[2016-06-16 23:20] segphault commented on #63
In a `replace` operation, there's no way to check that the ID of the document hasn't changed, because Horizon uses the ID in the provided object to fetch the document used as oldValue in the validator check. While the behavior here is totally understandable, it did lead to some slightly counterintuitive results.

In my bookmarks app, with my initial naive set of permissions, it was possible for us

[2016-06-16 23:20] #82 closed

[2016-06-24 21:05] deontologician opened #87 "Horizon example: notifications"
A simple notification scheme:

Users create documents in the 'notifications' collection.
Each document has a `sender`, `receiver` and `read` field
Permissions would be:
  - `collection('notifications').store({sender: context.id, recipient: any(), read: false})`
  - `collection('notifications').findAll({ recipient: context.id }).anyRead()`
  - `collection('notifications').update({ recipient: contex

[2016-06-28 21:01] #49 closed

[2016-06-28 21:31] dalanmiller opened #89 "Schema clarity"
- [x] We should specify a place for a schema.toml file to live, I vote `.hz/schema.toml` - http://horizon.io/docs/permissions/
- [x] we should be explicit that the schema declarations do not go inside `.hz/config.toml` (I made this mistake, and don't think it would be unreasonable for others to assume the same)
- [ ] We should have an example showing how to move an application from local to a prod

[2016-06-28 21:48] chipotle commented on #83
This was merged in #86.

[2016-06-28 21:48] #83 closed

[2016-06-28 22:14] mlucy opened #90 "Examples for embedding Horizon should probably include `project_name` in options."
http://horizon.io/docs/embed/

I think you'll almost always want to set the project name.  (Also, the docs should probably mention that the default project name is "horizon".)

[2016-06-28 23:12] mlucy opened #91 "Documentation should probably use camelCase in code examples"
I was reading the docs on http://horizon.io/docs/embed/ and it uses underscores in variable names for the JS examples.

[2016-06-28 23:49] chipotle commented on #91
Does the Horizon object accept option keys in camelCase, or just snake_case as shown here? (For that matter, are the instance methods camelCase or snake_case? AFAICT it's `add_auth_provider()`, not `addAuthProvider()`.)

[2016-06-28 23:50] mlucy opened #92 "Instructions for configuring OAuth providers is unclear"
Chris and I spent about 15 minutes trying to figure out what `horizon_instance.auth.github` meant.  `horizon_instance` isn't used anywhere else on the page.  The example at the top of the page that `require`s things calls that variable `horizon`; we should give it a consistent name in both places.

[2016-06-29 00:00] mlucy commented on #92
(Er, on the page http://horizon.io/docs/embed/ .)

[2016-06-29 00:07] chipotle commented on #92
I'll fix this as part of #90. (The original examples I got for the page all used `horizon_instance`, IIRC. I changed them to `horizon` but missed this one.)

[2016-06-29 00:22] mlucy opened #93 "Docs tell people to write `require('horizon')` instead of to load `horizon/horizon.js`"
The docs for how to connect to a Horizon server (e.g. on http://horizon.io/api/collection/) tell people to write `const Horizon = require("horizon")`.  This has a few problems:
* It only works if people are using a build system like browserify.
* Our examples don't appear to do it this way.
* @Tryneus mentioned to me a month or two ago that he doesn't recommend people do it, because it prevents th

[2016-06-29 00:27] chipotle commented on #93
In this context -- the JS code -- shouldn't it just become:

[code]

This matches the (brand new) Getting Started example. The `<script>` tag probably doesn't belong in the API docs; by the time you get there, Horizon is already loaded, one way or another.

[2016-06-29 00:31] deontologician opened #94 "Document --dev options that allow race conditions"
I think `--auto-create-collections` is the only one currently. We'll probably have more in the future though

[2016-06-29 00:42] mlucy commented on #93
Cool, that sounds good then.

[2016-06-29 00:43] mlucy commented on #93
(Although it should probably be `const hz = Horizon()` instead of `const Horizon = Horizon()`, at least the way the page is written now.)

[2016-06-29 10:08] mlucy commented on #91
Right now the options have to be snake_case (I opened https://github.com/rethinkdb/horizon/issues/620 to complain about that).  I could see an argument for leaving the variable names in snake_case until the API changes so that the examples aren't mixing styles, if you think that would be better.

[2016-06-30 18:07] dalanmiller opened #95 "Create a tutorial using surge.sh to deploy the frontend of a Horizon application."

[2016-06-30 23:16] mlucy opened #96 ""Configuring the client application" docs are indented incorrectly"
At http://horizon.io/docs/auth/ .

[2016-06-30 23:54] mlucy opened #97 "Docs at http://horizon.io/docs/auth/ don't say what callback URL to use"
If you're doing OAuth with GitHub, you have to enter an "Authorizaton callback URL".  It turns out that the correct one in this case is `https://hostname/horizon/github`, but that should be documented somewhere on the auth page.

[2016-07-01 00:20] #93 closed

[2016-07-01 17:12] #90 closed

[2016-07-01 17:12] #91 closed

[2016-07-01 17:12] #92 closed

[2016-07-11 15:20] fasiha commented on #62
My use case: I have an internal REST API that I want to secure behind Horizon's auth system. That is, I'd like to write a request handler for `/some-internal-api` that checks to make sure the user is authorized (using the same permissions system as the rest of Horizon), then forwarding the request to an internal URL and returning its response to the user.

(In my case, the internal REST API is uns

[2016-07-19 17:21] dalanmiller opened #98 "Include section in FAQ on why full ReQL queries aren't supported in Horizon"
https://discuss.horizon.io/t/rethinkdb-api-features-in-horizon/382/1

[2016-07-21 01:25] deontologician opened #99 "Document .aggregate and .model"
Placeholder issue, I'll put in the rough cut of this tomorrow

[2016-07-21 18:57] deontologician commented on #99
You can now aggregate horizon queries together like this:

[code]

You can now call `.fetch()` or `.watch()` on the aggregate, and it will do what you expect. With `.watch()`, it will internally emit a new document any time any sub-query receives a change, it caches the results of all other subqueries and re-emits them.

Aggregates can be composed of several things:

- Objects, like in the example

[2016-07-21 20:08] antoniocanas opened #100 "docker-compose doesn't wait for rethinkdb"
Using the example docker-composer.dev.yml,
rethinkdb container is linked to the horizon one, so the database start and then horizon try to connect to it but rethinkdb is not initialized yet.

[2016-07-21 20:15] danielmewes commented on #100
Thanks for reporting this @antoniocanas .

Pinging @dalanmiller

[2016-07-21 20:16] danielmewes commented on #100
@antoniocanas Another question: Does Horizon still come up in the end? If I'm not mistaken, the Horizon CLI retries connecting to the RethinkDB server a few times before giving up. So other than seeing these debug messages, this might not actually be an issue.

[2016-07-21 20:19] antoniocanas commented on #100
[code]

[2016-07-21 20:24] dalanmiller commented on #100
Hey @antoniocanas, @danielmewes is correct in that Horizon will retry for some time to connect to RethinkDB. It should not take this long for RethinkDB to startup. What logs are you getting from the database instance?

In my testing it worked fine, but one thing I need to do is move the `docker-compose.yml` files to `v2` of spec so I can use the `depends_on` config.

https://docs.docker.com/compos

[2016-07-21 20:32] antoniocanas commented on #100
I'm using v1 of docker-compose yaml file. Another workaround could be `restart: always` on the horizon container.

rethinkdb is initialized fine but with a big delay.
[code]

[2016-07-21 20:37] dalanmiller commented on #100
@antoniocanas what kind of hardware are you running this on? Locally?

[2016-07-21 21:00] deontologician commented on #99
Marshall also made Promises work in aggregates, so that's allowed now too

[2016-07-21 21:13] deontologician commented on #97
horizon.authEndpoint('github') will get you this url, since it's a configurable path, we shouldn't rely on hard-coding it

[2016-07-21 21:17] deontologician commented on #97
Actually @mlucy is this the path you put into github auth and is it different from the 'authEndpoint' which redirects you to github?

[2016-07-21 22:04] danielmewes opened #101 "Document integration with specific frameworks (React etc.)"
Inspired by the issue https://github.com/rethinkdb/horizon/issues/662 that @ntomallen opened, I think it would be cool if we could have some documentation that explains how to specifically use Horizon with different frameworks.

We currently have the "Embedding Horizon" document, which is framework-agnostic, and we have example applications for different integrations.
However we don't have real st

[2016-07-21 22:11] mlucy commented on #97
@deontologician -- this is the path I put into GitHub auth.  It's the same as what's returned by `authEndpoint`.  It wasn't obvious to me that that was what I was supposed to enter, though.  I think we should at least document that the URL you're supposed to enter is `https://hostname${RETURN_VAL_OF_AUTH_ENDPOINT}`, and we should probably say what the default is since that's what most people will

[2016-07-21 22:14] danielmewes commented on #97
Is it actually necessary for this part to be the same as what you get from `authEndpoint`?
I might be remembering this wrong, but I think when I tested GitHub auth with Horizon a bit back I just set the redirect path in GitHub to `http://localhost:8181/` where I had my page that imported the Horizon client. The Horizon client picked up the auth parameters once it was instantiated by the page if I

[2016-07-21 22:16] chipotle commented on #97
If I'm understanding correctly, when you register an application for use with Github's OAuth service, you need to enter the actual URL into their registration form. I don't know whether other providers require this.

https://github.com/settings/applications/new

[2016-07-21 22:16] deontologician commented on #97
I think github has to post some data to horizon, who can then redirect somewhere with the horizon-token in the parameters

[2016-07-21 22:26] mlucy commented on #99
@deontologician --

What's the behavior `.aggregate([1, hz('bar')])`?

What about`.aggregate([[1, 2], hz('bar')])`?

What about `.aggregate({foo: [[1, 2], hz('bar')]})`?

Is there any way to get back an array containing two arrays each of which comes from a Horizon query  (i.e. to get `[[foo1, foo2, ...], [bar1, bar2, ...]]` instead of `[foo1, bar1, foo2, bar2, ...]`)?

(Also, are we super attache

[2016-07-21 22:29] danielmewes commented on #97
Maybe @Tryneus knows which URL this actually has to be.

[2016-07-21 22:32] mlucy commented on #99
Actually, thinking about it more, it seems kinda bad that `hz.aggregate([FOO, BAR])` does an implicit union.  For everything else we seem to have the property the `hz.aggregate(f(FOO))` is analogous to `FOO.fetch().subscribe(x => hz.aggregate(f(x)))` (ignoring the updating).  Doing an implicit union for Horizon queries but not for other objects breaks that property.

[2016-07-21 23:02] dalanmiller commented on #101
I am a proponent of creating some framework-specific guides to using Horizon.

[2016-07-21 23:11] deontologician commented on #99
Sounds good, I'll change it. We already have a way to union queries anyway (`hz('foo').fetch().merge(hz('bar').fetch())`), so a special syntax for it isn't really warranted probably.

I would like to take this moment to grumble that it's more work for me

[2016-07-22 02:30] Tryneus commented on #97
The URL you give to the Oauth provider should correspond to the path on your server that you configure for that provider.  It is the same as the `path` option used when adding the auth provider via `add_auth_provider` (which is just a subpath below horizon).  So if you do `server.add_auth_provider(github, { path: 'github', ... })` on a Horizon server mounted at `/horizon`, then your Github Oauth R

[2016-07-22 06:15] antoniocanas commented on #100
Yeah it's local, macbook pro with 'docker for mac'

[2016-07-25 17:52] #96 closed

[2016-07-25 17:54] chipotle commented on #99
So just so I'm clear, this is a method on the `Horizon` object, not `Collection` (because it operates on multiple collections).

[2016-07-25 19:06] #97 closed

[2016-07-25 19:08] dalanmiller commented on #100
Hey @antoniocanas sorry it took me a couple days to test this out:

I got it working, here's what I did:

1.  went into the Horizon repository and to `/examples/react-chat-app` example.
1. I moved the dev docker-compose file into this folder with: `cp ../../docker-compose.dev.yml .`
1. I then commented out the `rethinkdb` ports as they were conflicting with my system running RethinkDB. (probably u

[2016-07-25 19:40] deontologician commented on #99
Right, the horizon toplevel object itself

[2016-07-26 11:53] sylvainlap commented on #62
+1

[2016-07-26 16:10] deontologician opened #102 "Users doc misleading"
It indicates there is a provider field, which doesn't exist yet. There's also a nonexistent data field

See rethinkdb/horizon#677

[2016-07-26 21:34] deontologician opened #103 "cookbook entry: subscribing to changing data"
I outlined a strategy here:
https://discuss.horizon.io/t/advanced-queries/171/3?u=josh

The basic problem is that the user document has some array containing channel ids they are subscribed to. The end result we want is an observable that emits a new array of channel objects whenever:
1. A channel the user is subscribed to changes in any way
2. A channel is added or removed from the array of subsc

[2016-07-28 00:37] dalanmiller opened #104 "Horizon 2.0 docs checklist"
With the impending release of Horizon 2.0 we need to make sure our bases are covered in the docs:

Please also review @deontologician + @Tryneus

- [x] Make it clear engine.io is no longer used
- [x] `.hz` dir now may contain `config.toml`, `schema.toml`, and `secrets.toml` https://github.com/rethinkdb/horizon/pull/679
- [x] `hz set-schema` has evolved to `hz schema apply` https://github.com/rethi

[2016-07-28 00:47] deontologician commented on #104
Also @Tryneus is getting rid of the `horizon_internal` table, and indexes will be named differently: horizon/horizon#650

[2016-07-28 17:26] chipotle commented on #104
When you say "make it clear engine.io is no longer used," what do you need to have mentioned? (AFAICT we don't mention "engine.io" anywhere in the current set of docs.)

[2016-07-28 17:58] dalanmiller commented on #104
That's all I wanted to accomplish there @chipotle, just wanted to make sure there weren't any loose mentions hanging around.

[2016-07-28 20:29] deontologician commented on #104
I added another bullet for checking for references to client logging functions. I doubt they were documented, but they were removed so we should make sure

[2016-07-28 20:32] dalanmiller commented on #104
Where are the aggregation queries documented? (I wish Github told us who checked which checkmarks)

[2016-07-28 20:41] chipotle commented on #104
They're in the commit that closes #99, which is merged into the `horizon-2.0` docs branch. I'll do a PR for that whole branch to close this ticket.

For https://github.com/rethinkdb/horizon/pull/636 is there a way for the user to set the write retry timeout?

[2016-07-28 20:45] dalanmiller commented on #104
@Tryneus ^^

[2016-07-28 22:29] Tryneus commented on #104
@chipotle - currently there is no client support for it, it's just an option available in the protocol.

[2016-07-28 22:47] danielmewes opened #105 "Document `Collection.update`, `Collection.insert` and correct existing write commands"
It turns out that we actually have an `update` and `insert` function on collections in Horizon (I didn't know about this until a moment ago): https://github.com/rethinkdb/horizon/blob/next/client/src/ast.js#L316

We need to change the following things in http://horizon.io/api/collection/#store :
* Add documentation for `insert`: It does what is currently documented for `store`. Namely it stores a

[2016-07-28 22:51] chipotle commented on #104
Okay, so is there a timeout enabled in Horizon 2.0? I just want to know if I should be deleting the "Horizon will not automatically retry writes that have version conflicts" line from the limitations document, and adding something to the FAQ saying "Horizon will automatically retry writes for ___ seconds." :)

[2016-07-29 00:11] #105 closed

[2016-07-29 21:02] chipotle commented on #104
With respect to "Remove references to the client logging functions (if any)," does that mean that the `debug` option needs to be removed? (There's nothing in the docs about `.enableLogging` as a method.)

[2016-07-29 21:12] deontologician commented on #104
@chipotle the debug option in the cli still works, and any logging in the server still works. You used to be able to do `Horizon.enableLogging()` to get console messages when sending or receiving on the client. It was unlikely anything was documented I just wanted to make sure

[2016-07-30 19:28] intellix commented on #104
This was fixed/merged: https://github.com/rethinkdb/horizon/issues/498. Is there any migration info for new table names required for the docs?

[2016-08-01 23:01] dalanmiller commented on #104
Nice work all 👍 🚢

[2016-08-02 00:03] dalanmiller commented on #104
One more @chipotle:

[2016-08-02 00:41] dalanmiller commented on #104
@danielmewes added more to the check list from our discussion ^^

[2016-08-02 00:54] danielmewes commented on #104
https://github.com/rethinkdb/horizon/issues/704 has a list of the corresponding issues for the missing pieces in the main Horizon tracker.

[2016-08-02 21:54] chipotle commented on #104
A couple questions about some of those pieces:

* If `hz schema apply` can read a pre-1.1.3 schema, does it do any conversion, or does that only happen when you use `hz schema save`?
* What does `hz migrate` actually do? (i.e., does it work on database tables, and is it what you run to fix the problem with `hz serve` "erroring out" if Horizon 2.0 tries to serve the old format?)

[2016-08-02 22:34] danielmewes commented on #104
@chipotle
`hz schema apply` does not convert the schema file itself. If you want to get a new schema file that uses the current format, you have to apply it first, and then use `hz schema save` to export the schema in the new format.
The only difference for the schema file is how indexes are defined (currently a single string that contains all the indexed fields separated by underscores, starting

[2016-08-03 10:17] alf commented on #101
I find the following gist very inspiring: https://gist.github.com/segphault/1e583dd7e02c3780ca3a8d6f28dae461

Could someone from horizon core commenton whether this is a good aproach or if it has some issues I should be aware of.

[2016-08-04 20:16] danielmewes opened #107 "Clarify client constructor host option"
Feedback from @ejsuncy https://github.com/rethinkdb/horizon/issues/725:

--

The client `Horizon` model has a constructor that takes an object of option keys and values, one of which is `host`. It is not apparent from the [docs here](http://horizon.io/api/horizon/#constructor) that the `host` option is a string that includes the port number if applicable. Perhaps providing an example or two there

[2016-08-05 01:15] geddski commented on #99
So. Freaking. Great.

[2016-08-05 21:23] danielmewes commented on #104
One more thing, which I think we forgot about:
There are new rdb_timeout, rdb_user and rdb_password options for the `config.toml` file, the CLI commands, and the Horizon server constructor. See the first post in https://github.com/rethinkdb/horizon/pull/507 .

[2016-08-06 18:13] deontologician commented on #104
- [ ] `make-token` now doesn't connect to rethinkdb. It can create a token for any user id, whether it exists or not

[2016-08-06 19:42] Ezeky commented on #104
Hello, Id like to get the horizon 2.0 how should I npm install it? I always get the 1.1.3 version but I want to check out the auth0 implementation.

Thx

[2016-08-09 00:03] danielmewes commented on #104
@chipotle The new format for specifying an index in the `schema.toml` file for `hz schema apply`:
https://github.com/rethinkdb/horizon/issues/706#issuecomment-238413049

[2016-08-09 12:02] intellix commented on #104
An example with syntax similar to how the current documentation tells you how to create indexes:

[code]

[2016-08-09 18:23] danielmewes commented on #104
@intellix Thanks for the example. Your example is essentially using the old schema.toml syntax for defining indexes (where each index is simply described by a string), though with the new Horizon 2.0 naming scheme.
We are actually making the index definition more structured, see the example I linked above: https://github.com/rethinkdb/horizon/issues/706#issuecomment-238413049

I think your syntax

[2016-08-15 22:08] dalanmiller opened #109 ".filter() listed twice in Observable's methods."
![screenshot 2016-08-15 15 07 59](https://cloud.githubusercontent.com/assets/863286/17681365/27400fa8-62fa-11e6-9565-493a3b1d5b82.png)

Also the list should probably be alphabetized.

[2016-08-15 22:34] deontologician commented on #109
Actually, we should probably remove the individual links in favor of a direct link to the Observable documentation. Now we include all methods, so listing which ones we use doesn't make as much sense

[2016-08-16 00:09] #109 closed

[2016-08-16 17:49] chipotle commented on #99
(Since this is merged into the `horizon-2.0` branch I'm closing this issue.)

[2016-08-16 17:49] #99 closed

[2016-08-16 17:53] chipotle commented on #89
I'm pretty sure that the first two of these are already taken care of (at least in Horizon 2.0). I don't know about the third one, since in 2.0 you *can* specify a schema file with `hz serve`.

[2016-08-16 17:55] dalanmiller commented on #89
@chipotle I'm going to close this and open a new issue...

[2016-08-16 17:55] #89 closed

[2016-08-16 18:19] doefler commented on #104
Hi I just did `npm install -g horizon@2.0.0-beta-5`
Now I am trying to run `hz migrate` which is not working for me.
I am running the command from the my project folder.

I have tried a lot of variations which haven't worked for me. Can you point out what I am doing wrong:

`hz migrate`
`hz migrate myhorizonapp`
`hz migrate --project-name myhorizonapp`
`hz migrate -n myhorizonapp`
`hz migrate -n "

[2016-08-16 18:44] danielmewes commented on #104
@doefler This issue is about the documentation for Horizon 2.0. The issue you're running into looks like an actual issue with the `hz migrate` command. Would you mind opening a new issue about this in https://github.com/rethinkdb/horizon/issues ?

[2016-08-16 18:45] dalanmiller opened #110 "We need a guide on "Deploying Horizon""
Right now we have a list of `Horizon basics` and `Building Horizon apps` I'm not sure if either of these is a good spot or maybe it should go under `Resources`.

This guide should start with the assumption that:

* You have built your Horizon app
* You have your database in a ready state with collections and indexes created
 * Either thanks to `--auto-create-collection --auto-create-index` and/or

[2016-08-16 18:53] doefler commented on #104
@danielmewes thank you for responding.
I will open a new issue right away.
Since I am not able to run ´hz serve´ without migrating, do you have any ideas on how I can work around it until the migrate tool works?

[2016-08-16 18:59] chipotle commented on #64
If people could come up with a few of the examples in Josh's bullet list above, that would be helpful for me. (It might also be good to have a section that gives the rationale for Horizon using a "deny all access by default and explicitly define exceptions" approach to data permissions, although that might be a different ticket.)

[2016-08-16 21:43] deontologician commented on #64
Note to self: do this

[2016-08-17 00:05] #102 closed

[2016-08-19 02:28] deontologician opened #111 "New page about Horizon client packaging"
There are a few different ways you can integrate Horizon client into your frontend app.

### Main Horizon.js file
This is a UMD (universal module definition) built with:
  * All of RxJS, including all operators
  * Polyfills for:
    * `Array.from`
    * `Array.findIndex`
    * `Array.keys`
    * `Object.assign`

This is the package that is served by Horizon server at `/horizon/horizon.js`. It's l

[2016-08-19 02:35] deontologician commented on #111
Eventually, we'll add stuff like React Native here, but for now this should be mostly everything

[2016-08-19 19:34] lirbank commented on #85
Relates to https://github.com/rethinkdb/horizon/pull/750

[2016-08-25 01:38] deontologician commented on #104
The --config option is no longer accepted on any cli commands. Your config files must reside in `${project_dir}/.hz` (so `secrets.toml`, `config.toml` and `schema.toml`)

[2016-08-29 09:50] ivan-kleshnin commented on #62
I've got a couple of questions which are not covered in docs. Of course, it's possible to investigate it manually but time is limited and you guys probably appreciate feedbacks ;)

So Horizon DB:

1) What `hz_` prefix actually *means*? Is it to underline that `users` belongs to app while `hz_groups` belong to HZ inner stuff? I can imagine I will output `hz_groups` content in admin panel so I'd lik

[2016-08-29 18:27] danielmewes commented on #62
@ivan-kleshnin Yeah, essentially the `hz_` prefix means that this table contains metadata internal to Horizon. You can of course access it from your code if you want to, but its format can change in a future Horizon release. The contents of those tables are not part of the official Horizon API.

The answer for 2) is similar. Partially, the `hz schema apply` command is there for convenience. Additi

[2016-08-29 19:32] ivan-kleshnin commented on #62
@danielmewes thank you, that makes sense.

[2016-09-02 21:26] dalanmiller opened #116 "Section headers should be clickable to put the fragment in the URL path"
For instance I should be able to go to here:

http://horizon.io/docs/auth/

Then click on the header "Configuring the client application"

and get this appended to my url, so I can easily direct people to the exact spot in the docs.

#configuring-the-client-application

[2016-09-06 22:11] danielmewes opened #117 "Document admin user requirement"
Horizon 2.0 now allows configuring a database user for the Horizon server to use through the `rdb_user` option. However currently, until we ship RethinkDB 2.4.0, the only user name that actually works is `"admin"`.

We should add a note to that effect to http://horizon.io/docs/configuration/ and http://horizon.io/docs/cli/ , and also add mention of the `rdb_user` / `rdb_password` options to http:/

[2016-09-08 17:11] dalanmiller opened #118 "Permissions only mentions `.find` once but it isn't clear if using `.findAll` covers `.find`?"
There are some cases where you'd want to only allow `.find` versus `.findAll` in your queries. But in the example here:

template = "collection('public_messages').fetch()"

horizon('public_messages').fetch()

horizon('public_messages').watch()
horizon('public_messages').findAll({type: "announcement"}).fetch()
horizon('public_messages').order("year").fetch()
horizon('public_messages').order("year")

[2016-09-08 18:28] dalanmiller commented on #118
Just tested this, seems like we just need to add `.find` to the implicit list.

[2016-09-08 19:06] danielmewes commented on #118
The list wasn't intended to be exhaustive, it was just a bunch of example queries. But since it has caused confusion, we should probably add a `find` query to it.

[2016-09-08 21:57] dalanmiller opened #119 "Auth documentation needs to show boilerplate on how to handle connections by unauth'd and auth'd users"
This [SO question](https://stackoverflow.com/questions/39393213/horizion-io-collection-with-public-read-access-not-working) could've been resolved if we had explained that you need to make a connection to Horizon based on whether the user has a token or not when you have some data that is available to unauth'd users.

Right now under `https://horizon.io/docs/auth/`we make it seem like you just pic

[2016-09-10 00:15] Tryneus opened #120 "Embedding docs incorrectly uses `_reql_conn` as a property of the server module"
in `docs/embed`, the last section `Accessing the Rethinkdb 'r' object` has the code:

[code]

This is wrong, `_reql_conn` is a property of a `Server` instance, not of the `@horizon/server` module.  In order to get the connection, you need to instantiate a `Server` and pass it the information for `r.connect`, at which point it may become available.

See related issue at rethinkdb/horizon#807

[2016-09-12 18:19] chipotle commented on #120
So at risk of asking a stupid question, would the correct example be more like:

[code]

[2016-09-13 06:05] Tryneus commented on #120
@chipotle - not entirely - the connection will not be ready immediately, so the `ready()` function returns a promise:

[code]

Also, the header for the section indicates it was to show how the same `r` object can be used, I though the ReQL connection was just an aside.

Anyway, a lot of this stuff is changing for the plugins feature, though, so I wouldn't put too much work into this section yet.

[2016-09-14 22:16] #120 closed

[2016-09-16 06:32] almstrand opened #121 "Document how to use JWT generated using CLI"
The CLI document describes how `hz make-token 4C720BD1-2729-46BA-9213-ED84DEDE3120` can be used to generate a JWT.

The document _used_ to also show how the user for which the JWT was generated can be added to the `users` table. This was removed in bcbc1a3de6.

Without this step, the JWT is of no use, and it appears not to be documented elsewhere that this is a required step, nor what should be th

[2016-09-20 19:25] zubair-io commented on #111
If I may sugesst a way to work with Typescript

## Typescript

`horizon/index.d.ts`

[code]

`typescript-file.ts`

[code]

[2016-10-03 03:57] timothyclemansinsea commented on #62
@danielmewes I need to implement https://stripe.com/docs/charges and have no clue how to add my own backend code

[2017-02-27 21:14] abjordan commented on #55
Any progress with this? It sure would help with adoption of Horizon in my environment. I'd be happy to help if you can provide the layout files that were used to generate the current documentation.

[2017-04-20 16:03] nabaragpaul opened #123 "horizon js can not access rethinkdb in port 28025 without --dev flag . Error : action not permitted ."
i have configured horizon JS and it works perfectly with --dev flag.

But When i created certificate and run the project without --dev flag it cannot access the rethink db . i have set schema.toml perfectly . It seems in hz_groups table there is only admin entry. Not default and authenticated user entry are there . every time i want to access  the db it says action not permitted in browser console